{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
	},
	"globals": {
		"window": true,
	},
	"parserOptions": {
    "sourceType": "module"
  },
	"plugins": [],
	"rules": {
		"indent": [2, "tab"],
		"no-tabs": 0,
		"no-unused-vars": 2,
		"no-alert": 1,
		"no-var": 2,
		"no-mixed-spaces-and-tabs": 2,
		"no-undef": 2,
		"no-eval": 2,
		"no-undefined": 2,
		"no-caller": 1,
		"no-debugger": 2,
		"no-empty": 2,
		"no-console": [2, {
			"allow": ["warn", "error", "info"],
		}],
		"comma-dangle": [2, "always-multiline"],
		"max-len": 0,
		"quotes": [2, "single"],
		"semi": [2, "never"],
		"space-before-function-paren": ["error", {
			"anonymous": "always",
			"named": "never",
			"asyncArrow": "always"
		}],
		"linebreak-style": 0,
		"curly": 0,
		"object-curly-spacing": [2, "always"]
	}
}
